:root {
  /* Spacing */
  --spacing-xs: 8px;
  --spacing-s: 16px;
  --spacing-m: 24px;
  --spacing-l: 32px;
  --spacing-xl: 48px;
  --spacing-xxl: 64px;
  --spacing-2xl: 96px;
  --spacing-3xl: 128px;

  /* Font */
  --default-font-size: 100%;
  --font-s: 1rem;
  --font-m: 1.25rem;
  --font-l: 1.5rem;
  --font-xl: 2rem;

  /* colors */
  --primary-color: hsl(160deg 100% 30%);
  --secondary-light-color: hsl(45deg 100% 50%);
  --secondary-dark-color: hsl(45deg 100% 30%);
  --black-color: hsl(0deg 0% 0%);
  --darker-color: hsl(0deg 0% 10%);
  --dark-color: hsl(0deg 0% 30%);
  --medium-color: hsl(0deg 0% 40%);
  --light-color: hsl(0deg 0% 60%);
  --white-color: hsl(0deg 0% 100%);
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: var(--default-font-size);
}

h1,
h2 {
  margin: 0;
}

strong {
  color: var(--primary-color);
}

.max-width-wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.intro-chunk {
  max-width: 500px;
  margin-top: var(--spacing-xxl);
  margin-bottom: var(--spacing-2xl);
  margin-left: var(--spacing-s);
  margin-right: var(--spacing-s);
}

main {
  padding-top: var(--spacing-xxl);
  padding-bottom: var(--spacing-xxl);
  border-top: var(--spacing-xs) solid var(--dark-color);
  background-color: var(--light-color);
}

.indented-heading {
  width: fit-content;
  margin-left: calc(-1 * var(--spacing-m));
  padding: var(--spacing-s) var(--spacing-l) var(--spacing-s) var(--spacing-m);
  border-bottom: var(--spacing-xs) solid var(--secondary-dark-color);
  background-color: var(--secondary-light-color);
}

.card {
  padding-top: var(--spacing-xs);
  padding-left: var(--spacing-s);
  padding-right: var(--spacing-s);
  padding-bottom: var(--spacing-m);
  border-bottom: var(--spacing-xs) solid var(--dark-color);
  background-color: var(--white-color);
}
